.accounts.edit {
	.card {
		.card-title {
			padding: 15px;
			h4 {
				border-bottom: 3px solid $cyan-light;
				display: inline;
			}

		}
	}
	.btn {
		color: $dark-gray;
		background-color: $cyan-light;
		font-weight: bold;
	}
}