$light-gray : #f7f7f9;
$light-blue : #2196f3;
$xdark-gray	: #BDBDBD;
$dark-gray	: #374046;
$light-gray	: #f2f2f2;
$medium-gray	: #fff;
$cyan-light	: #80deea;
$cyan-medium	: #4dd0e1;
$cyan-dark	: #0097a7;
$cyan-xlight	: #00BCD4;

